﻿
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenu(e) @Xmas.Tools.SessionUtils.ConnectedUser.Surnom</h2>
<a href="/Home/Index">Retour site principal</a><br />


<a href="/Membre/Group/Index">voir groupes auquels j appartiens</a><br />

<a href="~/Membre/Cadeau/Index">voir liste de cadeaux</a>
@*<img src="~/photos/@Xmas.Tools.SessionUtils.ConnectedUser.Nom .jpg"/>*@
<br/>
@*<a href="/Home/Index" name="wtf">Se déconnecter</a>*@

