﻿
@{
    ViewBag.Title = "Login";
}

<h2 style="margin-top: 200px">Login</h2>
<form action="/Home/Login" method="post">
    <input type="text" name="email" placeholder="email" /><br />
    <input type="password" name="password" placeholder="password" /><br />
    <button type="submit">login</button>
</form>
<br />
<hr />
<br />
<h2>Register</h2>
<form action="/Home/Register" method="post" enctype="multipart/form-data">
    <input type="text" name="Surnom" placeholder="pseudo" /><br />
    <input type="text" name="Nom" placeholder="nom" /><br />
    <input type="text" name="Prenom" placeholder="prenom" /><br />
    <input type="text" name="Courriel" placeholder="email" /><br />
    <input type="password" name="MotDePasse" placeholder="password" /><br />
    <input type="file" name="Picture"/><br />
    <button type="submit">save</button>
</form>